In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.426907 -0.331485 -0.694865  0.430595
2013-01-02 -0.768741 -1.988932 -0.566478 -1.074007
2013-01-03  0.282317 -0.755199  0.677544  1.436395
2013-01-04 -0.413401 -0.927270  0.490511 -0.055150
2013-01-05  0.602740 -0.058092 -0.256373  0.665356
2013-01-06 -0.744013 -1.042141  0.643969  0.413281

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -1.426907 -0.331485 -0.694865  0.430595
2013-01-02 -0.768741 -1.988932 -0.566478 -1.074007
2013-01-03  0.282317 -0.755199  0.677544  1.436395
2013-01-04 -0.413401 -0.927270  0.490511 -0.055150
2013-01-05  0.602740 -0.058092 -0.256373  0.665356

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.413401 -0.927270  0.490511 -0.055150
2013-01-05  0.602740 -0.058092 -0.256373  0.665356
2013-01-06 -0.744013 -1.042141  0.643969  0.413281

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [18]:
df.values

array([[-1.42690747, -0.33148462, -0.69486471,  0.43059522],
       [-0.76874125, -1.98893201, -0.56647756, -1.07400688],
       [ 0.28231654, -0.75519858,  0.67754407,  1.43639535],
       [-0.41340097, -0.9272704 ,  0.49051138, -0.05515024],
       [ 0.60274032, -0.0580924 , -0.25637299,  0.66535583],
       [-0.74401341, -1.04214052,  0.64396944,  0.41328099]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.411334 -0.850520  0.049052  0.302745
std    0.745561  0.670077  0.627597  0.832916
min   -1.426907 -1.988932 -0.694865 -1.074007
25%   -0.762559 -1.013423 -0.488951  0.061958
50%   -0.578707 -0.841234  0.117069  0.421938
75%    0.108387 -0.437413  0.605605  0.606666
max    0.602740 -0.058092  0.677544  1.436395

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.426907   -0.768741    0.282317   -0.413401    0.602740   -0.744013
B   -0.331485   -1.988932   -0.755199   -0.927270   -0.058092   -1.042141
C   -0.694865   -0.566478    0.677544    0.490511   -0.256373    0.643969
D    0.430595   -1.074007    1.436395   -0.055150    0.665356    0.413281

In [21]:
df['A']

2013-01-01   -1.426907
2013-01-02   -0.768741
2013-01-03    0.282317
2013-01-04   -0.413401
2013-01-05    0.602740
2013-01-06   -0.744013
Freq: D, Name: A, dtype: float64